* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  color: hsl(192, 100%, 9%);
}
img {
  width: 100%;
}

/* Typography */
h1,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1em auto 6em auto;
}
.logo-div img {
  max-width: 100px;
}
button {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.try-btn {
  border-style: none;
  background-color: white;
  color: hsl(321, 100%, 78%);
  border: 1px solid hsl(321, 100%, 78%);
  padding: 0.5em 1.3em;
  border-radius: 20px;
}

/* main */
.main-container {
  width: 85%;
  margin: auto;
}
header h3 {
  font-size: 1.4rem;
  margin: 0 1em 1em 1em;
}

header p {
  margin: 0 0.5em 3em 0.5em;
}
.start-btn {
  border-style: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 1em 2.5em;
  border-radius: 20px;
  margin-bottom: 6.5em;
}
.img-div {
  margin-bottom: 7em;
}

.stats-div {
  width: 50%;
  margin: auto;
}

.stats-div h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.stats-div img {
  width: 1.7em;
  margin: 0;
}
.stats-div p {
  color: rgb(170, 170, 170);
}
.icon {
  text-align: left;
}

.community {
  margin-bottom: 6em;
}

/* Articles */

/* .article-container {
   width: 90%;
  margin: auto; 
} */

article h4 {
  font-size: 1.3rem;
  margin-bottom: 1em;
}
.article-img {
  width: 80%;
  margin: auto;
  margin-bottom: 4em;
}
.bg-top {
  display: flex;
  align-items: flex-end;
}
.grow,
.users {
  padding-top: 3em;
  padding-bottom: 5em;
  background-color: hsl(207, 100%, 98%);
}
.conversations {
  margin-bottom: 5em;
}
.bg-bottom {
  display: flex;
  margin-bottom: 5em;
}

.article-text {
  width: 90%;
  margin: auto;
}

/* CTA */
.cta {
  width: 80%;
  margin: auto;
}
.cta h3 {
  margin-bottom: 2em;
}

/* FOOTER */

.footer-content {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding-top: 3em;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.contacts-container,
.newsletter-container,
.socials-container {
  width: 85%;
  margin: auto;
}
.newsletter {
  order: -1;
}
.newsletter h4 {
  margin-bottom: 1em;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.newsletter p {
  margin-bottom: 1em;
  font-size: 0.8rem;
}

.newsletter input {
  padding: 1em 3em;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1em;
}
.subscribe-btn {
  border-style: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 1em 2.5em;
  border-radius: 5px;
  margin-bottom: 6.5em;
  float: right;
  font-weight: 700;
}

.footer-logo img {
  max-width: 10em;
}

.desc {
  margin-bottom: 3em;
  font-size: 0.8rem;
}

.phone,
.email {
  margin-bottom: 1em;
  font-size: 0.8rem;
}
.email {
  margin-bottom: 3em;
}
.phone::before {
  content: url(./images/icon-phone.svg);
  margin-right: 1em;
}
.email::before {
  content: url(./images/icon-email.svg);
  margin-right: 1em;
}

.socials i {
  font-size: 1.2em;
  margin-right: 0.5em;
  margin-bottom: 2em;
}
.newsletter-container {
  order: -1;
}

/* Active states */
.try-btn:hover {
  cursor: pointer;
}

.start-btn:hover,
.subscribe-btn:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
}

.socials i:hover {
  cursor: pointer;
  color: hsl(189, 77%, 52%);
}

/* Media Query */
@media (min-width: 768px) {
  .logo-div img {
    max-width: 200px;
  }

  header h3 {
    font-size: 2.5rem;
  }
  header p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-div {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .stats-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .grow,
  .users,
  .conversations {
    display: flex;
  }
  article h4 {
    font-size: 2rem;
  }
  .article-img {
    max-width: 500px;
  }
  .article-text {
    max-width: 500px;
    text-align: left;
  }
  .grow-text,
  .user-text {
    order: -1;
  }
  .cta h3 {
    font-size: 2rem;
    margin-bottom: 1em;
  }

  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contacts-container {
    order: -1;
    width: 50%;
  }
  .contacts-container div {
    margin-left: 5em;
  }
  .contacts-container,
  .newsletter-container {
    margin-top: 0;
    width: 50%;
    margin-bottom: 0;
    justify-content: space-between;
  }
  .newsletter-container {
    order: 1;
    width: 50%;
  }
  .newsletter {
    width: 500px;
  }
  .newsletter input {
    width: 50%;
    margin-right: 2em;
  }
  .newsletter p {
    max-width: 350px;
  }
  .desc {
    max-width: 300px;
  }
  .socials-container {
    margin: 0;
    margin-left: 5em;
    order: 2;
  }
  .socials i {
    font-size: 1.7rem;
  }
  .subscribe-btn {
    margin-bottom: 0;
    float: none;
  }
}
